<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <style>
        /* Add your CSS styles here */
        nav {
            margin: 10px;
        }

        nav a {
            margin: 10px;
            text-decoration: none;
        }
    </style>
</head>
<body>

<nav>
    <a href="{{ url_for('prediction') }}">Prediction</a>
    <a href="{{ url_for('education') }}">Education</a>
</nav>

{% block content %}
{% endblock %}

</body>
</html>
